{% extends 'common/base.html' %}
{% block site_content %}
    <head>
        <script src="https://kit.fontawesome.com/c2c6b51692.js" crossorigin="anonymous"></script>
        <title>About smart sockets.</title>
    </head>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-6 pl-3">
                <p class="display-4 pl-2">
                    About smart sockets.
                </p>
                <p class="text-justify pl-2">
                    A smart socket can turn any of your home appliances into smart products, letting you control them
                    even when
                    you are away
                    from home or in another room. You can also plan ahead and schedule the sockets to turn on and off
                    at
                    certain
                    times. These small devices are easy to use and incredibly versatile since they can be used with
                    almost any
                    plug-in device.
{#                    They are quite affordable too. Smart sockets stand out due to their ability to give#}
{#                    users#}
{#                    more control over ‘dumb’ devices, effectively bridging the gap between old and new, making them part#}
{#                    of your#}
{#                    smart home.#}
                    <br><br>
                    Here are some ideas about using smart sockets:
                </p>
                <ul style=" list-style: none;">
                    <li>
                        <i class="fas fa-plug mr-1"></i>
                        Prepare a meal ahead of time (in case you have a slow cooker)
                    </li>
                    <li>
                        <i class="fas fa-plug mr-1"></i>
                        Limit children screen time (with a timer or schedule)
                    </li>
                    <li>
                        <i class="fas fa-plug mr-1"></i>
                        Set the perfect temperature (schedule your AC or turn it on while away)
                    </li>
                    <li>
                        <i class="fas fa-plug mr-1"></i>
                        Control your night lights
                    </li>
                    <li>
                        <i class="fas fa-plug mr-1"></i>
                        Automate your Christmas/decoration lights
                    </li>
                    <li>
                        <i class="fas fa-plug mr-1"></i>
                        Make it look like you are home when you are away (by creating a schedule for visible from outside
                        lights while you are away)
                    </li>
                </ul>
            </div>

            <div class="col-lg-6">
                <img src="../static/images/energy-3036156_1920.jpg" alt="Smart Socket"
            class="w-100 p-3">
            </div>
        </div>
    </div>
{% endblock %}