{% extends 'common/base.html' %}
{% block site_content %}
    {% load bootstrap4 %}
    {% if user.is_authenticated %}

        <form method="POST" action="{% url 'edit ss' smart_socket.id %}" class="container w-50 p-3 float-left">
            <fieldset>
                <table class="table table-lg table-borderless">
                    <tbody>
                    <tr>
                        <td>{{ form.name.label }}</td>
                        <td>{{ form.name }}</td>
                        <td>{{ form.name.errors }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.description.label }}</td>
                        <td>{{ form.description }}</td>
                    </tr>

                    </tbody>
                </table>
            </fieldset>
            {% csrf_token %}
            {% buttons %}
                <button type="submit" class="btn btn-sm btn-light btn-outline-secondary">Save</button>
                <a href="{% url 'delete ss' 'delete' smart_socket.id %}" class="btn btn-sm btn-light
                btn-outline-secondary">Delete</a>
            {% endbuttons %}
        </form>

    {% else %}
        <div class="container m-2">
            <p class="w-50 p-3 float-left display-4">
                Easy way to automate your home with smart sockets.
            </p>
        </div>
    {% endif %}
    <div class="m-2">
        <img src="../../static/images/energy-3036156_1920.jpg" alt="Socket"
             class="w-50 p-3 img-fluid.max-width:50% img-fluid rounded float-left">
    </div>
{% endblock %}

