{% extends 'common/base.html' %}
{% block site_content %}
    <head>
        <script src="https://kit.fontawesome.com/c2c6b51692.js" crossorigin="anonymous"></script>
        <title>Set up instructions.</title>
    </head>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 pl-3">
                <p class="display-4">
                    Set up instructions.
                </p>
                <p>
                    *Our web site is compatible with <a href="https://tasmota.github.io/docs/">Tasmota</a> based sockets.
                </p>
                <ul style=" list-style: none;">
                    <li>
                        <i class="far fa-check-square"></i>
                        Add smart socket on our web site.
                    </li>
                    <li>
                        <i class="far fa-check-square"></i>
                        Proceed with <a href="https://tasmota.github.io/docs/Getting-Started/#initial-configuration">
                        initial configuration</a> of your smart socket. Take a note of what your socket IP address is.
                    </li>
                    <li>
                        <i class="far fa-check-square"></i>
                        In Tasmota socket web interface enter configuration/MQTT and populate Topic field with the name of
                        your smart socket as named in your entry on our web site. Make sure to populate Full Topic field
                        with the following username/%topic%/%prefix%/ , where username is your username as registered
                        on our site.
                    </li>
                    <img src="../static/images/example_tasmota.png" alt="Example Tasmota"
                         class="w-50 p-3">
                    <li>
                        <i class="far fa-check-square"></i>
                        Enjoy.
                    </li>
                </ul>
            </div>

            <div class="col-lg-6">
                <img src="../static/images/energy-3036156_1920.jpg" alt="Smart Socket"
                     class="w-100 p-3">
            </div>
        </div>
    </div>
{% endblock %}