{% extends 'common/base.html' %}
{% block site_content %}
    {% load bootstrap4 %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <p class="display-4  pl-3 pt-1">
                    Log in.
                </p>
                <div class="pl-4 form-group form-control-sm w-50">
                    <form method="POST" action="{% url 'login user' %}">
                        {% csrf_token %}
                        {% for field in login_form %}
                            {% bootstrap_field field %}
                        {% endfor %}
                        {% buttons %}
                            <button type="submit" class="btn btn-sm btn-light btn-outline-secondary">Submit</button>
                            <p>or <a class="text-muted" href="{% url 'register user' %}">register</a></p>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="../../static/images/energy-3036156_1920.jpg" alt="Smart Socket"
                     class="w-100 p-3">
            </div>
        </div>
    </div>
{% endblock %}